* {
    margin: 0px;
    padding: 0px;
} 


#NASARA_LOGO{
  width: 1.5in;
  margin-left: 25px;
  margin-top: -0px;
}
/* #logoname{
  font-size: 30px;
  font-weight: bold;
  margin-left: 0px;
  margin-right: 100px;
  color: lightblue;
} */

#icon_home {
  position: absolute;
  width: 50px;
  font-size: 20px;
  height: 50px;
  border: solid 1px lightblue;
  border-radius: 25px;
  margin-left: 1380px;
  transition: border-color 0.2s ease;
}

#icon_home:hover {
  border-color: rgb(255, 255, 255);
}

#icon_account {
  position: absolute;
  width: 50px;
  height: 50px;
  border: solid 1px lightblue;
  border-radius: 25px;
  margin-left: 1440px;
  transition: border-color 0.2s ease;
}

#icon_account:hover {
  border-color: rgb(255, 255, 255);
}


/* 
#aboutUsLink, #contactUsLink, #homeLink{
  width: 170px;
  height: 44px;
  margin-top: 0px;
  margin-right: 20px;
  border: 1px solid rgb(90, 90, 90);
  border-radius: 25px;
}

#accountLink{
  /* display: flex;
  position: absolute;

  font-size: 18px; 
  cursor: pointer;
  color: rgb(228, 226, 226);
  /* margin-left: 12.9cm; *
} */




/* #search{
  width: 300px;
  margin-left: 300px;
} */






  
.acc_bg_odd {
    width: 100%;
    height: 581px;
    /* background-image: url('BG_DEFAULT.png'); */
    background-color: blue;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-size: cover;
    margin-top: -20px;
}
.acc_bg_even {
  width: 100%;
  height: 581px;
  /* background-image: url('BG_DEFAULT.png'); */
  background-color: rgb(114, 114, 255);
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  background-size: cover;
  margin-top: -20px;
}

.container{
    margin-top: 20px;
}







/*//////////////////////////////MODAL//////////////////////////////*/

#openModalBtn{
  color: rgb(13, 0, 255);
  background: white;
  width: 170px;
}

.modal-title{
font-size: 30px;
margin-left: 7px;
}

#staticBackdrop {
width: 500px;
left: 33%;


  /* margin-left: 300px;
  margin-top: 30px; */

  /*transform: translate(-50%, -50%); 
  z-index: 2; UPPER LEFT*/

/* background-image: url('modal_bg.png'); */

}

.first_title{
  font-size: 24px;
  color: black;
  font-weight: 600px;
  margin-left: -80px;
  margin-top: -27px;
  margin-bottom: -2px;

  width: 250px;
  /* background-color: yellow; */
}

.zoomable-image{
  margin-top: 20px;
  width: 1in;
  height: 1in;
  border: 5px solid rgb(157, 145, 255);
  border-radius: 100px;
  filter: drop-shadow(5px 5px 15px rgba(62, 62, 62, 0.5));
}
.zoomable-image:hover{
  transform: scale(1.005);
  filter: drop-shadow(5px 5px 10px rgba(46, 46, 46, 0.5));
}
.fa-camera {
  transition: transform 0.2s, filter 0.2s;
  filter: drop-shadow(5px 5px 10px rgba(46, 46, 46, 0.5));

  /* Define the size and position */
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 0.4in;
  color: rgb(212, 255, 0); /* Blue Gradient */
  border-radius: 50%; /* Apply a circular shape to mimic bevel style */
  padding: 0.1in; /* Adjust padding to control the bevel effect */
  transform: rotate(0deg); /* Rotate the camera icon for the bevel effect */
}

.fa-camera:hover{
  transform: scale(1.1); /* Scale the image up by 10% on hover */
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5)); /* Add a shadow effect using the filter property */
}

#p_row1{
  width: 143px;
  border-radius: 5px;
  /* background: whitesmoke;   */
  background: rgba(255, 255, 255, 0.318);
  height: 35px;
  border: 1px solid #a1a1a1;
  font-size: 15px;
  margin-left: 7px;
  margin-top: 0px;
  padding-left: 10px;
}

#p_row2, #p_row3, #p_row4, #p_row5 {
  width: 220px;
  border-radius: 5px;
  /* background: whitesmoke;   */
  background: rgba(255, 255, 255, 0.318);
  height: 35px;
  border: 1px solid #a1a1a1;
  font-size: 15px;
  margin-left: 7px;
  margin-top: 8px;
  padding-left: 10px;
}
.input .firstname, .input .lastname, .input .email, .input .password, .input .confirmpassword{
  color: rgb(0, 0, 0);
}


#day{
  width: 50px;
  margin-left: 7px;
  margin-top: 3px;
  height: 35px;
  font-size: 15px;
  background: none;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
}
#month{
  width: 120px;
  margin-left: 7px;
  margin-top: 3px;
  height: 35px;
  font-size: 15px;
  background: none;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
}
#year{
  width: 80px;
  margin-left: 7px;
  margin-top: 3px;
  height: 35px;
  font-size: 15px;
  background: none;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
}

#sub_title_name{
  margin-left: 10px;
  /* margin-top: 10px; */
  margin-bottom: 5px;
  /* font-size: 12px; */
  /*background: yellow;*/
  width: 100px;
}
#sub_title_address{
  margin-left: 10px;
  /* margin-top: 10px; */
  margin-bottom: -3px;
  /* font-size: 12px; */
  /*background: yellow;*/
  width: 100px;
}
#sub_title_dob{
  margin-left: 10px;
  /* margin-top: 10px; */
  margin-bottom: 2px;
  /* font-size: 12px; */
  /*background: yellow;*/
  width: 150px;
}
#sub_title_gend{
  margin-left: 195px;
  /* margin-top: 10px; */
  margin-bottom: 2px;
  /* font-size: 12px; */
  /*background: yellow;*/
  width: 100px;
  float: top;
}

.genders{
  margin-left: 300px;
  /*background: yellow;*/
  width:200px;
  float: top;
  height: 35px;
  border: 1px solid yellow;
  border-radius: 5px;
  margin-top: auto;
}
#fem {
  margin-left: 25px;
  margin-right: 5px;
  height: 12px;
}
#mal {
  margin-left: 20px;
  margin-right: 5px;
  height: 12px;
}



#bg_row1{
  width: 450px;
  border-radius: 5px;
  /* background: whitesmoke;   */
  background: rgba(255, 255, 255, 0.318);
  height: 35px;
  border: 1px solid #a1a1a1;
  font-size: 15px;
  margin-left: 7px;
  margin-top: 8px;
  padding-left: 10px;
}
#bg_row2, #bg_row3, #bg_row4, #bg_row5, #bg_row6, #bg_row7, #bg_row8, #bg_row9{
  width: 220px;
  border-radius: 5px;
  /* background: whitesmoke;   */
  background: rgba(255, 255, 255, 0.318);
  height: 35px;
  border: 1px solid #a1a1a1;
  font-size: 15px;
  margin-left: 7px;
  margin-top: 8px;
  padding-left: 10px;
}

#bg_bio, #bg_hobbies, #bg_favorites{
  margin-left: 10px;
}


#cyp_row1, #cyp_row2, #cyp_row3 {
  width: 300px;
  border-radius: 5px;
  background-color: whitesmoke;  
  /* background: rgba(255, 255, 255, 0.318); */
  height: 35px;
  border: 1px solid #a1a1a1;
  font-size: 15px;
  margin-left: 95px;
  margin-top: 8px;
  padding-left: 10px;
}


.boxandlink{
  margin-top: -5px;
  font-size: 10px;
  opacity: 100%;
}
#privacy-checkbox {
  position: absolute;
  margin-top: -34px; 
  margin-left: 7px; 
}
#privacy-link {
  position: absolute;
  margin-top: -35px; 
  margin-left: 24px; 
  color: rgb(146, 144, 144);
}


.boxandlink a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 600px;
}
.boxandlink a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
  font-weight: 600px;
}




/*SAVE AND CLOSE BUTTONS*/

#prof_modalsave{
  /* background-color: #0ebd02; */
  background-color: #5f4dff;
  border: 1px solid rgb(255, 255, 255);
  color: #ffffff;
  width: 150px;
  height: 43px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 7px;
}
#prof_closeModalBtn{
  position: absolute;
  border: 1px solid rgb(255, 255, 255);
  /* background-color: rgb(108, 108, 255); */
  background-color: rgb(134, 134, 134);
  font-size: 16px;
  font-weight: 600px;
  color: #ffffff;
  width: 70px;
  height: 43px;
  border-radius: 7px;
  margin-left: 225px;
  margin-top: 10px;
}
#prof_modalsave:hover{
  /* background-color: #0ea204; */
  background-color: #0008ff;
  color: #ffffff;
}

#prof_closeModalBtn:hover{
  color: #ffffff;
  background-color: rgb(106, 106, 106);
}




#bg_modalsave{
  /* background-color: #0ebd02; */
  background-color: #5f4dff;
  border: 1px solid rgb(255, 255, 255);
  color: #ffffff;
  width: 150px;
  height: 43px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 7px;
}
#bg_closeModalBtn{
  position: absolute;
  border: 1px solid rgb(255, 255, 255);
  /* background-color: rgb(108, 108, 255); */
  background-color: rgb(134, 134, 134);
  font-size: 16px;
  font-weight: 600px;
  color: #ffffff;
  width: 70px;
  height: 43px;
  border-radius: 7px;
  margin-left: 222px;
  margin-top: 10px;
}
#bg_modalsave:hover{
  /* background-color: #0ea204; */
  background-color: #0008ff;
  color: #ffffff;
}

#bg_closeModalBtn:hover{
  color: #ffffff;
  background-color: rgb(106, 106, 106);
}



#sett_closeModalBtn{
  position: absolute;
  border: 1px solid rgb(255, 255, 255);
  /* background-color: rgb(108, 108, 255); */
  background-color: rgb(134, 134, 134);
  font-size: 16px;
  font-weight: 600px;
  color: #ffffff;
  width: 70px;
  height: 43px;
  border-radius: 7px;
  margin-left: 200px;
  margin-top: -40px;
}
#sett_modalsave:hover{
  /* background-color: #0ea204; */
  background-color: #0008ff;
  color: #ffffff;
}

#sett_closeModalBtn:hover{
  color: #ffffff;
  background-color: rgb(106, 106, 106);
}



#sett_cyp_modalsave{
  /* background-color: #0ebd02; */
  background-color: #5f4dff;
  border: 1px solid rgb(255, 255, 255);
  color: #ffffff;
  width: 150px;
  height: 43px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 7px;
}
#sett_cyp_closeModalBtn{
  position: absolute;
  border: 1px solid rgb(255, 255, 255);
  /* background-color: rgb(108, 108, 255); */
  background-color: rgb(134, 134, 134);
  font-size: 16px;
  font-weight: 600px;
  color: #ffffff;
  width: 70px;
  height: 43px;
  border-radius: 7px;
  margin-left: 222px;
  margin-top: 10px;
}
#sett_cyp_modalsave:hover{
  /* background-color: #0ea204; */
  background-color: #0008ff;
  color: #ffffff;
}

#sett_cyp_closeModalBtn:hover{
  color: #ffffff;
  background-color: rgb(106, 106, 106);
}








/*MODAL FADEIN*/

.fade-in {
animation: fadeIn 0.1s ease-in-out;
}

@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}



/*PASSWORD DON'T MATCH*/

#message{
position: absolute;
top: 78%;
color: rgb(0, 0, 0);
background-color: #ffffff;
}








/*CARDS*/

.card.border-0{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #f0ecff;
}

#img{
  transition: all 0.2s;
}

.card.border-0:hover{
  border: 1px solid rgb(194, 194, 194) !important;
}
.card:hover #img{
  transform: scale(1.1);
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.1);
}